.all-articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.article-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  width: 80%;
}

.article {
  width: 20rem;
  flex-grow: 1;
  flex-basis: auto;
}

.article-image {
  width: 20rem;
  height: 20rem;
  background-color: #c0b2b5;
}

.article-image:hover {
  opacity: 0.4;
  transition: 0.3s;
}

.img-caption {
  visibility: hidden;
  color: black;
}

.img-caption:hover {
  visibility: 0.3;
}
